body {
    margin: 0;
    color: #D7D7D7;
    background-color: #212121;
    max-width: auto;
}

.container-1,
.container-2,
.container-3 {
    background-color: #1b1b1b;
    margin-bottom: -100px;

}

header {
    width: 100%;
    max-width: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-style: normal;
    color: #8f8d8d;
    align-items: center;
    font-family: "Nunito", sans-serif;
    font-size: 15pt;
}

header h1 {
    margin-top: 24px;
    margin-left: 30px;
    font-family: "garamond-premier-pro-display", serif;
    font-style: normal;
    font-size: 20pt;
    letter-spacing: 1px;
    background-color: #000000;
    padding: 10px;
    border-radius: 40px;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 200px;
    margin-right: 50px;
    margin-top: 30px;
    max-width: auto;
}


header a {
    text-decoration: none;
    color: white;
}

header nav a {
    color: #9f9f9f;
}


header ul a:hover {
    color: #D7D7D7;
    font-weight: bold;

}

.rectangle a {
    font-size: 18pt;
    background-color: #000000;
    border-radius: 20pt;
    padding: 6pt;
    font-family: "Allerta Stencil", sans-serif;
}

.rectangle a:hover {
    color: #ffffff;
    font-weight: normal;
    background-color: #3534313e;
}

h2 {
    font-size: 80pt;
    font-family: "Koulen", sans-serif;
    letter-spacing: 10pt;
    width: 1110px;
    margin: 0 auto;
    text-align: center;

}

h2:hover {
    color: #8f8d8d;
}

h3 {
    font-family: "Koulen", sans-serif;
    font-size: 50pt;
    letter-spacing: 10pt;
    margin-bottom: 0pt;
    margin-left: 60px;
    width: 900px;
}

h4 {
    font-family: "Aleo", serif;
    font-size: 20pt;
    margin-bottom: 1.5rem;
    letter-spacing: 2pt;
    margin-top: -10pt;
    margin-left: 60px;
    width: 600px;
}

.text-1 p {
    font-family: "Arimo", sans-serif;
    font-size: 15pt;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    padding-right: 30%;
    margin-left: 60px;
    width: 600px;
}

.container-2 h3 {
    padding-top: 4%;
}

.text-2 p {
    font-family: "Arimo", sans-serif;
    font-size: 15pt;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    padding-right: 35%;
    padding-bottom: 2%;
    margin-left: 60px;
    width: 600px;
}

.martin-sx {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 60pt;
}

.img-sx {
    height: 260px;
    width: 510px;
    margin-left: 30px;
}

.martin-text-1 {
    padding-right: 130px;
    font-size: 15pt;
    font-family: "Arimo", sans-serif;
    margin-left: 120px;
    margin-bottom: 1.5rem;
    width: 500px;
}

.martin-dx {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.img-dx {
    padding-right: 120px;
    margin-left: 200px;
    height: 260px;
    width: 510px;
    position: static;
}

.martin-text-2 {
    font-size: 15pt;
    font-family: "Arimo", sans-serif;
    padding-right: 80px;
    margin-left: 140px;
    width: 500px;
}

.img-ot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.obama-img {
    padding-right: 300px;
    margin-left: 100px;
    height: 320px;
    width: 570px;
    position: static;
}

.text-ot {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.obama-text {
    margin-left: 90px;
    padding-right: 50px;
    font-size: 15pt;
    font-family: "Arimo", sans-serif;
    width: 600px;

}

.trump-img {
    height: 320px;
    width: 570px;
    margin-left: -120px;
}

.trump-text {
    margin-left: 70px;
    padding-right: 60px;
    font-size: 15pt;
    font-family: "Arimo", sans-serif;
    width: 600px;
}

h5 {
    font-family: "Aleo", serif;
    font-size: 20pt;
    letter-spacing: 2pt;
    margin-top: -10pt;
    margin-left: 60px;
    max-width: 600px;

}

.text-4 p {
    font-family: "Arimo", sans-serif;
    font-size: 15pt;
    line-height: 1.5;
    padding-right: 150px;
    margin-left: -415px;

}

.container-4 {
    width: 600px;
}

.minimal {
    font-family: "Arimo", sans-serif;
    font-size: 15pt;
    margin-bottom: 1.5rem;
    line-height: 1.5;
    padding-right: 35%;
    padding-bottom: 2%;
    margin-left: 60px;
    width: 600px;
}

.container-4 {
    padding-top: 60px;
}

.minimal {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.minimal p {
    width: 600px;
    padding-right: 230px;
}

a {
    text-decoration: none;
}

footer {
    max-width: auto;
    height: 90px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-top: 90px;
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}

footer p {
    margin-top: 35px;
    margin-left: 25px;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
    margin-right: 50px;
    margin-top: 35px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer nav ul a:hover {
    color: rgb(110, 110, 110);
}